body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#burguer{
    background-color: brown;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
}

#burguer img{
    margin: 15px;
    height: 30px;
}

section{
    background-color: brown;
    height: 125px;
}

.fperfil{
    margin: 35px;
    height: 100px;
    margin-top: 5px;
}

.perfilta{
    margin: 20px;
    height: 135px;
    margin-top: 0px;
}

.add{
    margin: 20px;
    height: 170px;
    float: left;
}