body{
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Comfortaa"
}

#burguer{
    background-color: brown;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

#burguer img{
    margin: 15px;
    height: 30px;
}

section{
    background-color: brown;
    height: 125px;
}

.fperfil{
    margin: 35px;
    height: 100px;
    margin-top: 5px;
}

.perfilta{
    margin: 20px;
    height: 135px;
    margin-top: 0px;
}

.add{
    margin: 20px;
    height: 170px;
    float: left;
}


#menu{
    align-items: center;
    position: absolute;
    display: none;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 90vh;
    width: 100vw;
}

#menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 3vh;
    margin: 0;
    font-size: 23pt;
}

#coment{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#imgi{
    height: 167px;
}
h1{
    display: inline-block;
    font-family: 'Comfortaa';
    font-size: 15pt;
}

h2{
    display: inline-block;
    font-family: 'Comfortaa';
    font-size: 15pt;
}